header {
  z-index: 2;
  position: fixed;
  background: black;
}

header h1 {
  font-size: 30px;
  font-weight: 700;
}

.item {
  color: white;
  cursor: pointer;
}

header a {
  font-size: 15px;
  font-weight: 200;
}

header a:hover {
  color: white;
}

#ballon {
  cursor: pointer;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 50px;
    font-weight: 800;
  }

  header a {
    font-size: 20px;
    font-weight: 400;
  }

  .overflow-hidden-home {
    overflow: hidden;
  }

  .item {
    padding-left: 20px;
  }

  .item:nth-child(2) {
    margin-right: 0;
    flex-basis: 100%;
    order: 5;
  }
}