header {
  z-index: 2;
  position: fixed;
  left: 0px !important;
}

header h1 {
  font-size: 30px;
  font-weight: 700;
}

.item {
  color: white;
  cursor: pointer;
  font-family: 'Optima Pro Bold' !important;
}
.title h3 {
  font-family: 'Optima Pro Bold' !important;
}

header a {
  font-size: 15px;
  font-weight: 200;
}

header a:hover {
  color: white;
}

#ballon {
  cursor: pointer;
  width: 100px;
  z-index: 9999;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Optima Pro Bold';
  }

  header a {
    font-size: 17px;
    font-weight: 400;
  }

  .overflow-hidden-home {
    overflow: hidden;
  }

  .item {
    padding-left: 20px;
    line-height: 23px;
  }

  .item:nth-child(2) {
    margin-right: 0;
    flex-basis: 100%;
    order: 5;
  }
}
@media (max-width: 768px) {
  
  #ballon {
    position: absolute;
    bottom: 20px;
    padding-bottom: 0 !important;
  }
}