body {
  margin: 0;
  font-family: 'Optima Pro', sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}


/* Contact page */

.contactpage .content p {
  font-size: 20px;
}

/* Video page */
.title-video-md h1 {
  position: static;
}

.title-video-md h4 {
  font-size: 15px;
  bottom: 5%;
  right: 5%;
}


/* Project page */

.carousel-control-next-icon {
  background-image: url(./assets/Icons/Play\ Right.png);
}

.carousel-control-prev-icon {
  background-image: url(./assets/Icons/Play\ Left.png);
}

.carousel-control-next {
  right: -15%;
}

.carousel-control-prev {
  left: -15%;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 60px !important;
  height: 60px !important;
}

#exit-video {
  right: 0%;
  top: 40%;
}

.start-50-100 {
  bottom: 0;
  left: 50%;
}

@media (min-width: 768px) {
  .start-50-100 {
    left: 100%;
  }

  #exit-video {
    right: 7%;
    top: 60%;
  }

  .contactpage .content p {
    font-size: 20px;
  }

  .title-video-md h1 {
    position: absolute;
  }

  .title-video-md h4 {
    font-size: 25px;
    right: 5%;
    bottom: 12%;
  }
}

@keyframes movevideo {
  0% {
    transform: translateY(90%);
  }

  20% {
    transform: translateY(87%);
  }

  100% {
    transform: translateY(0%);
  }
}

#bg-video {
  animation: movevideo 5s linear infinite;
}