@font-face {
  font-family: 'Optima Pro';
  src: url('./assets/font/OptimaLTPro-Medium.eot');
  src: local('./assets/font/Optima Pro Medium'), local('OptimaLTPro-Medium'),
    url('./assets/font/OptimaLTPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/font/OptimaLTPro-Medium.woff2') format('woff2'),
    url('./assets/font/OptimaLTPro-Medium.woff') format('woff'),
    url('./assets/font/OptimaLTPro-Medium.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Optima Pro Roman';
  src: url('./assets/font/OptimaLTPro-Roman.eot');
  src: local('./assets/font/Optima Pro Roman'), local('./assets/font/OptimaLTPro-Roman'),
    url('./assets/font/OptimaLTPro-Roman.eot?#iefix') format('embedded-opentype'),
    url('./assets/font/OptimaLTPro-Roman.woff2') format('woff2'),
    url('./assets/font/OptimaLTPro-Roman.woff') format('woff'),
    url('./assets/font/OptimaLTPro-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Optima Pro Bold';
  src: url('./assets/font/OptimaLTPro-Bold.eot');
  src: local('./assets/font/Optima Pro Bold'), local('./assets/font/OptimaLTPro-Bold'),
    url('./assets/font/OptimaLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/font/OptimaLTPro-Bold.woff2') format('woff2'),
    url('./assets/font/OptimaLTPro-Bold.woff') format('woff'),
    url('./assets/font/OptimaLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Optima Pro Bold Italic';
  src: url('./assets/font/OptimaLTPro-BlackItalic.eot');
  src: local('./assets/font/Optima Pro Bold BlackItalic'), local('./assets/font/OptimaLTPro-BlackItalic'),
    url('./assets/font/OptimaLTPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/font/OptimaLTPro-BlackItalic.woff2') format('woff2'),
    url('./assets/font/OptimaLTPro-BlackItalic.woff') format('woff'),
    url('./assets/font/OptimaLTPro-BlackItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #999;
  --unit-100vh: 100vh;
  --unit-gap: 40px;
  --unit-max-width: 1800px;
  --font-primary: "Buch", sans-serif;
  --font-secondary: "Kraftig", serif;
  --font-tertiary: "Halbfett", serif;
  --unit-header-height: 60px;
  --easing-authentic-motion: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Optima Pro', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  overflow-x: hidden;
}


.cursor-pointer {
  cursor: pointer;
}


/* Contact page */

.contactpage .content p {
  font-size: 18px;
}


/* Project page */

.carousel-control-next-icon {
  background-image: url(./assets/Icons/Play\ Right.png);
}

.carousel-control-prev-icon {
  background-image: url(./assets/Icons/Play\ Left.png);
}

.carousel-control-next {
  right: -15%;
}

.carousel-control-prev {
  left: -15%;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 60px !important;
  height: 60px !important;
}

.show-animation {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
}

.hidden-animation {
  transform: translate(0px, 100px);
}

.revealUp span {
  display: block;
  overflow: hidden;
  transition: all .7s;
  z-index: 9999;
  position: relative;
}

.start-50-100 {
  bottom: 0;
  left: calc(50% - 80px);
}

.w-110 {
  width: 100%;
  transition: 0.7s ease;
}

.w-110:hover {
  transform: scale(1.1);
}


/* ------------- */

.pdf-display {
  display: none;
}

.hover-display:hover .pdf-display {
  display: inline !important;
}
.hover-display img {
  height: 100%;
}
.custom-position {
  position: relative !important;
}
@media (min-width: 768px) {
  .custom-position {
    position: absolute !important;
  }
  .image-slider {
    left: -15%;
    right: -15%;
  }
  .overflow-md-hidden {
    overflow: hidden;
  }

  .start-50-100 {
    bottom: 0;
    right: 120px;
    left: auto !important;
  }

  .contactpage .content p {
    font-size: 20px;
  }
  .image-l {
    position: absolute !important;
    left: -120px;
  }
  .image-r {
    position: absolute !important;
    right: -150px;
    top: 220px;
  }
}
@media (max-width: 768px) {
  header h1 {
    font-size: 14vw !important;
    font-size: min(14vw, 40px);
  }
  .py-3 {
    padding-bottom: 0 !important;
  }
  .caption {
    position: absolute !important;
    width: 100vw !important;
    left: 0;
    right: 0;
  }
  .photo-padding.p-5 {
    padding: 0 !important;
  }
  .contact-img {
    width: 95%;
  }
}

@media (max-width: 991px) {
  
  .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@keyframes movevideo {
  0% {
    transform: translateY(100%);
  }

  /* 20% {
    transform: translateY(30%);
  } */

  100% {
    transform: translateY(0%);
  }
}

#bg-video {
  animation: movevideo 5s linear infinite;
  bottom: 480px;
  right: -90px;
}
.image-video {
  width: 97%;
  position: relative;
  z-index: 2;
  background-color: #000000;
}
.exit-icon {
  width: 0 !important;
}

.videoheader {
  left: calc(50% - 150px);
  position: absolute;
}

.videoheader h1 {
  font-size: 40px;
}

.assetList {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  transition: transform 0.5s ease-in-out;
}

.asset {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.left-arrow svg,
.right-arrow svg {
  width: 40px;
  height: 40px;
}

.right-arrow svg {
  transform: rotate(180deg);
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .assetList {
    overflow-x: visible;
  }

  .asset {
    width: 40%;
    margin-right: 20px;
  }

  .asset:last-child {
    margin-right: 0;
  }
  .logo {
    padding-left: 70px;
  }
}

footer {
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 82%;
  background-color: #000;
  z-index: 90;
}

.producernyc {
  font-family: 'Optima Pro Bold Italic';
  font-size: 17px;
  text-align: right;
  z-index: 100;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: #6d6d6d; 
}

@media (max-width: 768px) {
  .start-50-100 {
    width: 100%;
    position: relative !important;
    left: 0;
    display: block !important;
  }
  .start-50-100 h2 {
    right: 20px;
    bottom: 10px;
    position: relative;
    padding-top: 150px
  }
  .start-50-100 img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }
  .producernyc {
    position: absolute !important;
    padding: 0;    
    right: 0px !important;
    bottom: 0px !important;
  }
  .px-5 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }

  .footer {
    padding: 100px;
  }

  #bg-video {
    animation: movevideo 5s linear infinite;
    bottom: 430px;
    right: -150px;
  }
  .control-img {
    right: -20px !important;
    top: 20px !important;
  }
  .photo-img{
    padding: 0.5rem 0 !important;
  }
  .project-img {
    padding: 1rem 0 !important;
  }
}
